<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="true"
	>

    <import resource="ComputerContext.xml"/>

  	<bean class="com.kirash.alex.computer_assembly.main.MyBeenPostProcessor" />

	<bean id="computerCreating"
		class="com.kirash.alex.computer_assembly.creating.NewComputerCreating">
		<lookup-method name="creating" bean="myVersion" />
	</bean>
	
<!--

	<bean id="poolNewComputerVersion" class="com.kirash.alex.computer_assembly.pool.PoolNewComputerVersion">
		<constructor-arg name="actionCollection">
			<list>
				<ref bean="myVersion" />

				<bean class="com.kirash.alex.computer_assembly.myversion.ComputerReleaseVersion" parent="prototype">			
					<constructor-arg value="mediocre" index="3" type="String" />
					<constructor-arg value="bad" index="4" type="String" />
					<constructor-arg value="good" index="5" type="String" />
				</bean>

				<bean class="com.kirash.alex.computer_assembly.myversion.ComputerReleaseVersion" parent="prototype"
					>
					<constructor-arg value="normal" index="3" type="String" />
					<constructor-arg value="not bad" index="4" type="String" />
					<constructor-arg value="good" index="5" type="String" />
				</bean>


			</list>
		</constructor-arg>
	</bean>
 -->
	<bean id="poolNewComputerVersionColden" class="com.kirash.alex.computer_assembly.pool.PoolNewComputerVersion">
		<constructor-arg name="actionCollection"
			value="#{poolNewComputerVersion.actionCollection.?[color.toUpperCase() eq 'GOLD']}">
		</constructor-arg>
	</bean>

</beans>
